body{
  margin:0;
  padding:0;
  height: 100%;
  width:100%;
  color:rgb(255, 255, 255);
  font-family:'Gideon Roman', cursive;
  background: #03273A; 
  background-repeat: no-repeat;
  background-size:contain;
}



/*for links*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a {color:white;}



/* generic code */
.row {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.column {
  display:flex;
  flex-direction:column;
}
p {
  margin:0;
}



/*HEADER EVERYTHING*/
header {
    padding:0px;
    margin:0px;
}
.bgImage {
  width:100%;
  object-fit: contain;
  vertical-align: bottom;
}



/* FANCY HOTEL DESCRIPTION SECTION */
.page-info {
    text-align:center;
    position:relative;
    color:#8a7e5e;
    height:180px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    background: linear-gradient(180deg, #061028 0%, #03273A 100%);
}
.page-info h1 {
  width:100%;
  margin:0;
  color:#B6A57B;
  padding-bottom:5px;
  letter-spacing: 0.05em;
}
.page-info h2 {
  width:100%;
  margin:0;
  padding-bottom:5px;
}
.page-info hr {
  width:20%;
  border:none;
  background-color: #B6A57B;
  height: 2px;
}

.shade1 {
  width:100%;
  height: 180px;
  background: linear-gradient(180deg, #03273A 0%, #9cbee5 100%);
}

.hotel-desc {
  color:black;
  background-color:#9cbee5;
  height:200px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family:'Poppins', sans-serif;
}
.hotel-desc p {
  padding:0;
  width:50%;
  text-align:center;
}

.shade2 {
  height:180px;
  background: linear-gradient(180deg, #9cbee5 0%, #03273A 100%);
}



/* FILTERS */
.slidecontainer {
  width: 100%;
}
.slidecontainer input{
  margin:0;
  border-radius:25px;  
  height:15px;
}
.slider {
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  -webkit-appearance: none;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #B5995F;
  cursor: pointer;
  border-radius: 25px;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius:25px;
  background: #B5995F;
  cursor: pointer;
}



/* ROOMS SECTION OF WEBSITE */
.columns {
    padding-top:50px;
    padding-bottom:50px;
    width:100%;
    display:flex;
    justify-content: center;
    color:white;
}

.room {
  width:80%;
  display:flex;
  justify-content: center; 
  flex-direction:row; 
}

.ratings {
  margin-top:5px;
  margin-bottom:20px;
}
.fa-solid {
  color:#B5995F;
}

.desc-text {
  width:50%;
  position:relative;  
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding-left:10px;
}
.room h1{
  color:rgb(143, 109, 0);
  margin:0;
  letter-spacing: 0.05em;
}
.room-img {
  width:50%;
  position:relative;  
  display:flex;
  justify-content: center;
  align-items: center;
}
.room-img img {
  border-radius:15px; 
  width:80%;
  height:100%;
  max-width:435px;
}
.room p {
  margin-bottom:15px;
  width:70%;
}

.room-links {
  width:100%;
  letter-spacing: 0.1em;
}
.bookbutton {
  color:black;
  background-color:#9cbee5;
  padding:8px 10px 8px 10px;
  border-radius:25px;
  box-shadow:0px 5px 5px grey;
  outline:inherit;
  border:1px solid #9cbee5;
  box-shadow: inset 0 0 0 0 #81a5cf;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.bookbutton:hover {
  color:white;
  box-shadow: inset 400px 0 0 0 #446fa1;
}
.btn-with-line {
  color:white;
}
.btn-with-line a:hover {
  text-decoration:none;
}
.btn-with-line hr {
  color:#8a7e5e;
}
.btn-with-line:hover hr {
  -webkit-transition: width 3s ease-in-out;
  -moz-transition: width 3s ease-in-out;
  -o-transition: width 3s ease-in-out;
  transition: width 3s ease-in-out;
  width:0%;
  white-space:nowrap;
  overflow:hidden;
  visibility:hidden;
}



/* BOTTOM FANCY HOTEL DESCRIPTION SECTION */
.shade3 {
  height:180px;
  background: linear-gradient(180deg, #03273A 0%, rgba(182,165,123,0.80) 100%);
}

.page-end {
    background-color:#B6A57BCC;
  display:flex;
  position:relative;
  width:100%;
}
.end-img {
  width:50%;
  display:flex;
  justify-content: center;
  padding-top:50px;
}
.end-img img {
  border-radius: 25px;
  width:90%;
  height:90%;
}
.end-area {
  width:50%;
  position:relative;  
  display:flex;
  justify-content: center;
}
.end-text {
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content: center;
  width:50%;
}
.end-text h2 {
  margin:0;
}
.end-text hr {
  width:70%;
}



/* FOOTER HERE */
footer {
  text-align:center;
  background-color: #03273A;
  padding:50px 0 50px 0;
}



/* RESPONSIVE CODE */
@media only screen and (max-width: 878px) {
  /* For tablet size onwards(phone will be the same): */
  #filters {
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .filter{
    width:90%;
  }

  .room {
    flex-direction:column;
    border:1px solid #B5995F;
    border-radius:25px;
    padding:15px 0px 15px 0px;
  }
  .room-img {
    width:100%;
  }
  .desc-text {
    width:100%;
  }

  .page-end {
    flex-direction:column;
  }
  .end-img {
    width:100%;
  }
  .end-area {
    width:100%;
  }
  .end-text {
    margin-top:20px;
    margin-bottom:20px;
  }
}